<style>
label{
    font-size: 18px
}
.recipe_name{
    font-size: 36px;
    text-decoration: none;
    color: black;
    ;
}
.recipe_category{
    color: blue;
    font-size: 28px;
}
h1{
    color: black;
    font-size: 60px;
    margin-left: 100px;
}
body{
    background: linear-gradient(135deg, burlywood, saddlebrown);
    opacity: 0.75;
}
.recipe_container {
    font-size: 20px;
    /*margin-left: 50px;*/
    text-align: center;
}
body{
    background: url("https://img.freepik.com/free-photo/light-brown-wooden-textured-background_53876-75016.jpg?size=626&ext=jpg");

  
}

</style>
<h1> <%=@category%> recipes!  </h1>
<% @specific_category.each do |recipe| %>
<div class="recipe_container">
        <p><%= link_to recipe.name, recipe, class: "recipe_name" %></p>
     
    <label>Style of Food: </label>
        <text class="recipe_category"><%= recipe.category %></text>
        <br>

    <label>Contributer: </label>
        <text class="recipe_user"><%= link_to recipe.user.name, recipe.user %></text>
        <br>
        <br>
</div>
<% end %>