<style>
</style>

<h1> <%= @recipe.name %> </h1><br>
<img src = "http://tiny.cc/a1q3mz" >
<br>
<%= @recipe.description %>
<br>
<%= @recipe.category %>
<br>
<%= @recipe.ingredient.name%>




Recipe name
Picture of meal 
Description of recipe 
Ingredients
Amounts
