<h1>What'chu cooking today?</h1>
<p>Here at todaysmeal.com we're building a community of dedicated and committed food connoisseurs. Need a meal idea for dinner? How about a quick breakfast recipe to make on the work? What if you just want to share with the world an amazing dish that brings you and your family joy? Well, todaysmeal.com is the one stop site to meet all of those needs, and much more. Our features include:
-Dozens of recipes uploaded by our thriving community of users
-Simple navigation to any recipe you're looking for, based on categories 
-You can upload your own recipes, edit them as you discover new things, or remove it all together
If you're looking for a community of likeminded food lovers, looking for a home to save all of your delicious recipes, or just looking for something to eat for lunch, todaysmeal.com is the place for you!
Happy cooking, 
Brady Bunch - Lovelace<p>