<h1>Welcome to Recipe Round-up</h1>

<h3>What are you in the mood for today?</h3>
<!-- navigation-bar on the top-->

<!-- dropdown menu of recipe catagories --
-- links to page with those types of recipes -->

<!-- create recipe -->
<a class="button" href="/recipes">Browse Recipes</a>
<a class="button" href="/users/login">Create Recipe</a>


